$desktop-bg: url('../assets/images/bg3.jpg');
$desktop-bg-color: #999;

$taskbar-height: 50px;

.app-root {
	position: absolute;
	background:$desktop-bg-color $desktop-bg;
	background-size: cover;
	//border: 1px red solid;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}