
<!-- <button class="dropdown-button" mat-button [matMenuTriggerFor]="menu2" >Test</button> 


<mat-menu [overlapTrigger]="false" #menu2="matMenu" yPosition="below" openMenu="true"> 
	<button class="dropdown" mat-menu-item> Test 1 </button> 
	<button class="dropdown" mat-menu-item> Test 2 </button> 
	<button class="dropdown" mat-menu-item [matMenuTriggerFor]="submenu2"> Test 3 </button> 
</mat-menu>

<mat-menu #submenu2="matMenu" yPosition="above"> 
	<button class="dropdown" mat-menu-item> Submenu Test 2 </button> 
</mat-menu>
 -->

<!-- <ul class="main-menu">
	<li class="icon-1">Dhtml Scheduler
		<ul class="sub-menu" style="display:none">
			<li>Test</li>
		</ul>
	</li>
	<li class="icon-2">Dhtml Gantt</li>
	<li class="icon-3">Filemanager</li>
	<li class="icon-4">Calendar</li>
</ul> -->

<!-- <kendo-menu [vertical]="true" style="display:inline-block;">

	<kendo-menu-item text="item1">
		<kendo-menu-item text="item1.1" url="https://example.com">
		</kendo-menu-item>
		<kendo-menu-item text="item1.2" [disabled]="true">
		</kendo-menu-item>
	</kendo-menu-item>

	
	<kendo-menu-item text="item2">
	<ng-template kendoMenuItemContentTemplate let-item="item">
	<div style="padding: 10px;">
	My Content Template: {{ item.text }}
	</div>
	</ng-template>
	<ng-template kendoMenuItemTemplate let-item="item">
	<div style="padding: 10px;">
	My Template: {{ item.text }}
	</div>
	</ng-template>
	</kendo-menu-item>
	<kendo-menu-item text="item3">
	<ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
	<span [kendoMenuItemLink]="index">
	{{ item.text }}
	<span *ngIf="item.items && item.items.length" [kendoMenuExpandArrow]="index"></span>
	</span>
	</ng-template>
	</kendo-menu-item>
</kendo-menu> -->