
<button (click)="showWindow('Categories')" class="k-button k-button-icontext k-primary">
    <span class="k-icon k-i-user"></span> Categories
</button>
&nbsp;

<button (click)="showWindow('Products')" class="k-button k-button-icontext k-primary">
    <span class="k-icon k-i-user"></span> Products
</button>
&nbsp;

<button (click)="showWindow('Absence Tracking')" class="k-button k-button-icontext k-primary">
    <span class="k-icon k-i-user"></span> Absence Tracking
</button>


<app-window></app-window>

<!-- <div style="border: 1px green solid; width: 800px; height: 400px; margin: 0 auto; overflow: hidden;">
	<ng-container #container ></ng-container>
</div>
 -->